
.container{
    position: relative;
    left: 30%;
    padding: 50px;
    margin: 50px;
    height: 350px;
    width: 300px;
    border: 1px solid black;
    background-color: rgb(173, 245, 129);
    align-items: center;
    border-radius: 10%;
}

.box{
    position: relative;
    top: 30%;
    left: 5%;
}
#gen{
    position: fixed;
    top:60%;
    right: 48%;
    /* left: 37%; */
    padding-bottom: 0%;
    align-items: center;
    background-color: burlywood;
    border: 1px solid black;
    border-radius: 10px;
}

#gen:hover{
    background-color: rebeccapurple;
}

ul{
    margin: 5px 5px;
    padding-bottom: 30px;
}

#list{
    list-style-type: "Jock: ";
}
#list2{
    list-style-type: "Punchline: " ;
}